*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
background:linear-gradient(135deg,#667eea,#764ba2);
}

.calculator{
background:white;
padding:25px;
border-radius:20px;
box-shadow:0 0 20px rgba(0,0,0,0.3);
width:350px;
text-align:center;
}

h2{
margin-bottom:10px;
}

#clock{
margin-bottom:10px;
color:#666;
}

.theme-btn{
width:100%;
padding:10px;
margin-bottom:10px;
border:none;
background:#222;
color:white;
border-radius:10px;
cursor:pointer;
}

#display{
width:100%;
height:60px;
font-size:25px;
padding:10px;
margin-bottom:15px;
text-align:right;
border-radius:10px;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
}

button{
height:60px;
font-size:22px;
border:none;
border-radius:10px;
background:#6c63ff;
color:white;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.08);
}

.history-box{
margin-top:20px;
text-align:left;
}

#history{
height:120px;
overflow-y:auto;
border:1px solid #ddd;
padding:10px;
border-radius:10px;
margin-top:10px;
}

.dark{
background:#111;
}

.dark .calculator{
background:#222;
color:white;
}

.dark #display{
background:#333;
color:white;
}

.dark #history{
border:1px solid white;
}